body {
	margin : 0px;
	background : black;
	overflow : hidden;
}
.wnd {
    position : absolute;
    background-color : rgba(255, 255, 255, 1);
    border-radius : 5px;
    border : 1px solid gray;
    z-index : 100;
    opacity : 0.8;
    cursor : default;
}
.wnd header {
    background: linear-gradient(180deg, #ffffff, #afafaf);
    border-radius : 5px 5px 0px 0px;
    border-bottom : 1px solid gray;
    padding : 1px;
    padding-left : 5px;
}
.wnd article {
    margin : 1px;
    background : white;
    border-radius : 0px 0px 5px 5px;
}

#item td {
    border : 2px inset gray;
    width : 32px;
    height : 32px;
}

#bullet {
    position : fixed;
    right : 20px;
    bottom : 20px;
    text-shadow : 0px 0px 10px white;
    font-size : 30px;
    font-weight : bold;
    color : #a0a0a0;
    font-family : monospace;
}
#bullet figure {
    display : inline-block;
    vertical-align : sub;
    margin : 0px;
    width : 60px;
    font-size : 20px;
    text-align : center;
}
#bullet figure img {
    height : 100px;
    width : 23px;
    margin : auto;
    background-image : url("/resources/icons/bullet.png");
    background-position-x : 43px;
    background-size : cover;
}
#gameover{
	position :absolute;
	display :none;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	opacity : 0.0;
}
#win{
	position :absolute;
	display :none;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	opacity : 0.0;
}